<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goldberg Drywall Homepage</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Welcome to Goldberg Drywall: Family Owned for Over 50 Years!</h1><br><br>

    <a href="/customers/show">Here to your Customers</a><br><br><br>
    <a href="/jobs/show">Here to your Job Listings</a>
    
</body>
</html>