<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Job</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <h1>Create a New Job Listing:</h1><br><br>
    </header>

    <div class="forms">

        <form action='/jobs' method="POST">
            <label for="id">Job ID: </label> <input type="text" name="id" /> <br><br>
            <label for="address">Address: </label> <input type="text" name="address" /> <br><br>
            <label for="square_ft">Square Feet: </label> <input type="text" name="square_ft" /><br><br>
            <label for="bid_amt">Bid Amount: </label> <input type="text" name="bid_amt" /><br><br>
            <label for="contact">Contact: </label> <input type="text" name="contact" /> <br><br>
            <label for="customerId">Customer ID: </label> <input type="text" name="customerId" /> <br><br>
            <input type="submit" value="Create Job Listing" />
        </form>

    </div>

</body>

</html>