<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs Listings</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Goldberg Drywall Job Listings:</h1><br><br>

    <nav>
        <a href="/jobs/new">Create a New Job Listing</a><br><br>
    </nav>
    <ul class="jobs">
        <% for (let i=0; i < jobs.length; i++) { %>
            <li>
                <a href="/jobs/<%=jobs[i].id%>">
                    <%=jobs[i].address %>
                </a><br><br>

            </li><br><br>
            <% } %>

    </ul>
    
</body>
</html>